#all Debug.win32
frameworks/cocos2d-x/cocos/2d/Debug.win32/
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/pbc/Debug.win32/
frameworks/cocos2d-x/external/recast/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/.vs/
frameworks/runtime-src/proj.win32/cocos317_lua.tlog/
frameworks/runtime-src/proj.win32/src/
frameworks/cocos2d-x/cocos/2d/Debug.win32
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32
frameworks/cocos2d-x/external/pbc/Debug.win32
frameworks/cocos2d-x/external/recast/proj.win32/Debug.win32
*.obj
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32
frameworks/runtime-src/proj.win32/Debug.win32
simulator/win32/cocos317_lua.tlog
simulator/
simulator2/
frameworks/runtime-src/proj.win32/*.db
frameworks/runtime-src/proj.win32/*.opendb
frameworks/runtime-src/proj.win32/ipch
frameworks/runtime-src/proj.win32/sqlite3.dll
frameworks/runtime-src/proj.win32/zlib1.dll
frameworks/runtime-src/proj.win32/websockets.dll
frameworks/runtime-src/proj.win32/lua51.dll
frameworks/runtime-src/proj.win32/libvorbisfile.dll
frameworks/runtime-src/proj.win32/libvorbis.dll
frameworks/runtime-src/proj.win32/libssl-1_1.dll
frameworks/runtime-src/proj.win32/libogg.dll
frameworks/runtime-src/proj.win32/libmpg123.dll
frameworks/runtime-src/proj.win32/libcurl.dll
frameworks/runtime-src/proj.win32/libcrypto-1_1.dll
frameworks/runtime-src/proj.win32/libcocos2d.dll
frameworks/runtime-src/proj.win32/iconv.dll
frameworks/runtime-src/proj.win32/glew32.dll
frameworks/runtime-src/proj.win32/OpenAL32.dll
frameworks/runtime-src/proj.win32/.vs
frameworks/runtime-src/proj.win32/src
frameworks/runtime-src/proj.win32/cocos317_lua.vcxproj.user
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
edit/texas/settings/creator-luacpp-support.json
frameworks/runtime-src/proj.android/app/cocos317_lua.iml
frameworks/runtime-src/proj.android/proj.android.iml
frameworks/runtime-src/proj.android/.idea
tools/protoc-2.5.0-win32/MsgProtocol.pb
tools/protoc-2.5.0-win32/MsgProtocol.pb.cc
tools/protoc-2.5.0-win32/MsgProtocol.pb.h
tools/protoc-2.5.0-win32/MsgType.pb
tools/protoc-2.5.0-win32/MsgType.pb.cc
tools/protoc-2.5.0-win32/MsgType.pb.h
tools/protoc-2.5.0-win32/copyToProject.bat
tools/packiOS/iPoker
UserDefault.xml

UIProject/library/
UIProject/local/
UIProject/settings/creator-luacpp-support.json
UIProject/settings/settings/creator-luacpp-support.json
UIProject/settings/settings/project.json
UIProject/settings/project.json
src/.vscode/launch.json

#mac,iOS Xcode
frameworks/runtime-src/proj.ios_mac/iPoker.xcodeproj/project.xcworkspace/xcuserdata
frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata
frameworks/runtime-src/proj.ios_mac/ios/Resource/res/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata
frameworks/cocos2d-x/external/pbc/pbc.xcodeproj/xcuserdata
frameworks/runtime-src/proj.ios_mac/iPoker.xcodeproj/xcuserdata
frameworks/runtime-src/proj.ios_mac/iPoker.xcodeproj/project.xcworkspace/xcshareddata

.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
src/LuaDebugjit.lua
frameworks/runtime-src/proj.android/emulator/gradlew
frameworks/runtime-src/proj.android/emulator/gradlew.bat
frameworks/runtime-src/proj.android/emulator/local.properties
frameworks/runtime-src/proj.android/*/*.iml
.vscode/launch.json
.gitattributes
.vscode/settings.json

